
<h1>Listing Articulos</h1>
<form id='datos'>
    	<input id='name' type='text'/>
    	<input id='price' type='text'/>
    	<input id='nuevo' type='submit' value='Agregar'/>
    </form>

<table>
  <tbody>
    <div id='articles'></div>
  </tbody>
</table>

